<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chat Form</title>
</head>
<body>
    <h3>Edit your chat</h3>
    <p><%=chat._id%></p>
    <p>chat was sent to <b><%=chat.to%></b></p>
    <br>
    <form method="POST" action="/chats/<%=chat._id%>?_method=PUT">
        <textarea name="msg" id="" rows="10" cols="20"><%=chat.msg%></textarea>
        <br><br>
        <button>edit</button>
    </form>
</body>
</html>